@import url('https://fonts.googleapis.com/css?family=Pixelify+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: 'Pixelify Sans', sans-serif;
  color: #fff;
  display: block;
}

.tetris-wrapper {
  width: 100vw;
  height: 100vh;
  background: #000; /* Fallback */
  background-size: cover;
  overflow: hidden;
  outline: none;
}

.tetris {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  margin: 0 auto;
  max-width: 900px;
}

.stage {
  display: grid;
  grid-gap: 1px;
  border: 2px solid #333;
  width: 100%;
  max-width: 25vw;
  background: #111;
}

.cell {
  width: auto;
  /* background is set inline */
}

aside {
  width: 100%;
  max-width: 200px;
  display: block;
  padding: 0 20px;
}

.display {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 20px;
  border: 4px solid #333;
  min-height: 30px;
  width: 100%;
  border-radius: 20px;
  color: #999; /* Fallback */
  background: #000;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 0.8rem;
}

.start-button {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 20px;
  min-height: 30px;
  width: 100%;
  border-radius: 20px;
  border: none;
  color: white;
  background: #333;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}
